fastapi
uvicorn
python-dotenv
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
python-multipart
chromadb
sentence-transformers
google-generativeai
requests
beautifulsoup4
pypdf
python-docx
gtts
pytest
httpx==0.27.2
